#Eclipse
*.pydevproject
.project
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
#SVN
.svn
#intellj idea
*.iml
#IDEA
*/target
.idea
*.class
target/
.project
.settings/
.classpath
logs/
share/lib
share/target

#vscode
.vscode
*.bak
*.pyc
__pycache__
